<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Density plots</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <form action="">
        <label for="row">Give the number of rows the graph has to be:</label><br>
        <input type="text" id="row" name="row"><br> 
        <label for="column">Give the number of columns the graph has to be:</label><br>
        <input type="text" id="column" name="column"><br>
        <label for="columnspan">Give the number of column spans the graph has to be:</label> <br>
        <input type="text" id="columnspan" name="columnspan"><br>
        <label for="title">Give the title of the graph:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="icon">Give the icon name:</label><br>
        <input type="text" id="icon" name="icon"><br>
        <label for="colorIcon">Color of the icon (in hexadecimal):</label><br>
        <input type="text" id="colorIcon" name="colorIcon" value="0000ff"><br>
        <label for="datapointcount">If true, a few datapoints will be displayed as 'N = XXX':</label><br>
        <input type="checkbox" id="datapointcount" name="datapointcount" value="datapointcount"><br>
        <label for="selectioncount">If true, the selected amount datapoints will be displayed 'XXX (XX%)':</label><br>
        <input type="checkbox" id="selectioncount" name="selectioncount" value="selectioncount"><br>
        <label for="datafieldx">Name of first colum of dataset:</label><br>
        <input type="text" id="datafieldx" name="datafieldx"><br>
        <label for="datafieldy">Name of second colum of dataset:</label><br>
        <input type="text" id="datafieldy" name="datafieldy"><br>
        <label for="labelx">Label that is displayed on x-as:</label><br>
        <input type="text" id="labelx" name="labelx"><br>
        <label for="labely">Label that is displayed on y-as:</label><br>
        <input type="text" id="labely" name="labely"><br>
        <label for="colorscale">Choose the color you want to use:</label><br>
        <select name="colorscale" id="colorscale">
            <option value="YlOrRd">YlOrRd</option>
            <option value="YlGnBu"></option>
        </select>

        <br><br>
        <button onclick="makeDensityplotsGraph()">Make graph</button>
    </form>
</body>
</html>