<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplechoice bar</title>
</head>
<body>
    <form action="">
        <label for="row">Give the number of rows the graph has to be:</label><br>
        <input type="text" id="row" name="row"><br> 
        <label for="column">Give the number of columns the graph has to be:</label><br>
        <input type="text" id="column" name="column"><br>
        <label for="columnspan">Give the number of column spans the graph has to be:</label> <br>
        <input type="text" id="columnspan" name="columnspan"><br>
        <label for="title">Give the title of the graph:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="icon">Give the icon name:</label><br>
        <input type="text" id="icon" name="icon"><br>
        <label for="colorIcon">Color of the icon (in hexadecimal):</label><br>
        <input type="text" id="colorIcon" name="colorIcon" value="0000ff"><br>
        <label for="percentage">True (checked), False(not checked):</label><br>
        <input type="radio" id="percentage" name="percentage" value="percentage"><br>
        <label for="orientation">Horizontal (checked), Vertical (not checked):</label><br>
        <input type="radio" id="orientation" name="orientation" value="orientation"><br>
        <label for="leftmargin">Give number of extra space left of the horizontal text bar:</label><br>
        <input type="text" id="leftmargin" name="leftmargin"><br>
        <label for="rightmargin">Give number of extra space right of the horizontal text bar:</label><br>
        <input type="text" id="rightmargin" name="rightmargin"><br>
        <label for="filtername">Name of corresponding filter:</label><br>
        <input type="text" id="filtername" name="filtername"><br>

        <br><br><br>
            <div id="itemMultiplechoicebar">
                <label for="item1"></label>
                <label for="columname">Give the columname:</label><br>
                <input type="text" id="columname" name="columname"><br>
                <label for="label">Give the name that is displayed in the dasboard:</label><br>
                <input type="text" id="label" name="label"><br>
                <button onclick="addItem()">Make item</button>
            </div>
        <br><br>
        <button onclick="makeMultiplechoicebarGraph()">Make graph</button>
    </form>
</body>
</html>