<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribution</title>
</head>
<body>
    <form action="">
        <label for="test">Distribution:</label><br>
        <input type="text" id="test" name="test"><br>
        <label for="test2">Test2:</label><br>
        <input type="radio" id="test2" name="test2" value="test2">
    </form>
</body>
</html>