<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Cloud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <form action="">
        <label for="row">Give the number of rows the graph has to be:</label><br>
        <input type="text" id="row" name="row"><br> 
        <label for="column">Give the number of columns the graph has to be:</label><br>
        <input type="text" id="column" name="column"><br>
        <label for="columnspan">Give the number of column spans the graph has to be:</label> <br>
        <input type="text" id="columnspan" name="columnspan"><br>
        <label for="datafield">Name of colum in dataset:</label><br>
        <input type="text" id="datafield" name="datafield"><br>
        <label for="wordamount">Give the amount of words:</label><br>
        <input type="text" id="wordamount" name="wordamount"><br>
        <label for="fontsize">Give the fontsize:</label><br>
        <input type="text" id="fontsize" name="fontsize"><br>

        <br><br>
        <button onclick="makeWordcloudGraph()">Make graph</button>
    </form>git checkout frontcgitgggggggdsfsdf
</body>
</html>