<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demographic chart</title>
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
    <form action="">
        <label for="row">Give the number of rows the graph has to be:</label><br>
        <input type="text" id="row" name="row"><br> 
        <label for="column">Give the number of columns the graph has to be:</label><br>
        <input type="text" id="column" name="column"><br>
        <label for="columnspan">Give the number of column spans the graph has to be:</label> <br>
        <input type="text" id="columnspan" name="columnspan"><br>
        <label for="title">Give the title of the graph:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="icon">Give the icon name:</label><br>
        <input type="text" id="icon" name="icon"><br>
        <label for="colorIcon">Color of the icon (in hexadecimal):</label><br>
        <input type="text" id="colorIcon" name="colorIcon" value="0000ff"><br>
        <br><br><br>
        
        <div id="itemDemographic">
            <label for="item1"></label>
            <label for="datafield">Give the colum name from the data file:</label><br>
            <input type="text" id="datafield" name="datafield"><br>
            <label for="name">Give the name that is displayed on the dashboard:</label><br>
            <input type="text" id="name" name="name"><br>
            <button onclick="addItem()">Make item</button>
        </div>
        <br><br>
        <button onclick="makeDemographicGraph()">Make graph</button>
    </form>
</body>
</html>