<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic chart</title>
</head>
<body>
    <form action="">
        <label for="row">Geef het aantal rows op dat de grafiek moet zijn:</label><br>
        <input type="text" id="row" name="row"><br> 
        <label for="column">Geef het aantal columns op dat de grafiek moet zijn:</label><br>
        <input type="text" id="column" name="column"><br>
        <label for="columnspan">Geef het aantal column spans op dat de grafiek moet zijn:</label> <br>
        <input type="text" id="columnspan" name="columnspan"><br>
        <label for="title">Geef de titel van de grafiek op:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="icon">Geef de icoon naam op:</label><br>
        <input type="text" id="icon" name="icon"><br>
        <label for="colorIcon">Kleur van icoon (in hexadecimaal):</label><br>
        <input type="text" id="colorIcon" name="colorIcon" value="0000ff"><br>
        <label for="city">Kolomnaam van kolom die gemeente bevat:</label><br>
        <input type="text" id="city" name="city"><br>
        <label for="street">Kolomnaam van kolom die straatnaam bevat:</label><br>
        <input type="text" id="street" name="street"><br>
        <label for="pae">Kolomnaam van kolom voor "PAE":</label><br>
        <input type="text" id="pae" name="pae"><br>
        <label for="modelsplitmotorized">Kolomnaam van kolom voor "modal split gemotoriseerd"</label><br>
        <input type="text" id="modelsplitmotorized" name="modelsplitmotorized"><br>
        <label for="roadcategory">Kolomnaam voor kolom die wegcategorie bevat:</label><br>
        <input type="text" id="roadcategory" name="roadcategory"><br>
        <label for="nodata">Tekst die getoond word wanneer er geen data is:</label><br>
        <input type="text" id="nodata" name="nodata"><br>
    </form>
</body>
</html>