<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multifilter</title>
</head>
<body>
    <form action="">
        <label for="firstName">Name 1:</label><br>
        <input type="text" id="firstName" name="firstName"><br> 
        <label for="firstColumname">Name of colum 1:</label><br>
        <input type="text" id="firstColumname" name="firstColumname"><br>
        <label for="firstIcon">Name of icon 1:</label><br>
        <input type="text" id="firstIcon" name="firstIcon"><br>
        <label for="firstAll">Name of all 1:</label><br>
        <input type="text" id="firstAll" name="firstAll"><br>
        <br><br><br>
        <label for="secondName">Name 2:</label><br>
        <input type="text" id="secondName" name="secondName"><br> 
        <label for="secondColumname">Name of colum 2:</label><br>
        <input type="text" id="secondColumname" name="secondColumname"><br>
        <label for="secondIcon">Name of icon 2:</label><br>
        <input type="text" id="secondIcon" name="secondIcon"><br>
        <label for="secondAll">Name of all 2:</label><br>
        <input type="text" id="secondAll" name="secondAll"><br>
        <br><br>
        <button onclick="makeMultiFilter()">Make multi filter</button>
        
    </form>
</body>
</html>