<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>section</title>
</head>
<body>
    <form action="">
        <label for="title">Title (keywords:{{count}} will be replaced by total amount of filtered story's, {{NEWLINE}} the text following this will be shown on a new line, [[columname]] will be replaced by value of corresponding colum)</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="backgroundcolor">Backgroundcolor:</label><br>
        <input type="text" id="backgroundcolor" name="backgroundcolor"><br>
        <label for="textcolor">Text color:</label><br>
        <input type="text" id="textcolor" name="textcolor"><br>
        <label for="textsize">Text size (size of text, standard 1.75 rem):</label><br>
        <input type="text" id="textsize" name="textsize"><br>
        <label for="textalign">Text Align (left, center or right):</label>
        <input type="text" id="textalign" name="textalign"><br>
        <br><br>
        <button onclick="makeSection()">Make section</button>
    </form>
</body>
</html>