<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tab</title>
</head>
<body>
    <form action="">
        <label for="title">Title of the tab:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="color">Color:</label><br>
        <input type="text" id="color" name="color"><br>
        <label for="icon">Icon name:</label><br>
        <input type="text" id="icon" name="icon"><br>
        <br><br>
        <button onclick="makeTab()">Make tab</button>
    </form>
</body>
</html>